<div class="row loggedStatusRow tm-white-bg" id="loggedStatus">
  <div class="col-lg-12 col-cell tm-white-bg">
    <div class="row ">
      <% if logged_in? %>
          <div class="col-lg-4 col-cell">
           <%= link_to image_tag('about-4.jpg', alt:'img', class:'img-responsive'), profile_path %>
          </div>

          <div class="col-lg-4 loggedStatusName text-center col-cell" >
            <a href="#car" id="loggedName"><%= current_user.first_name %></a>

            <a href="#car" id="loggedName">credit: 500$</a>

          </div>

          <div class="col-lg-4 col-cell">
            <%= link_to "", logout_path, method: 'delete', class: 'glyphicon glyphicon-log-out log-out-icon' %>
          </div>


      <% else %>
          <div class="col-lg-8 col-cell ">
            <%= link_to 'Sign up', signup_path, data: { modal: true }, class: 'sign-up' %>

          </div>

          <div class="col-lg-4 col-cell">
            <%= link_to '', login_path, data: { modal: true }, class: 'glyphicon glyphicon-log-in log-out-icon' %>
          </div>

      <% end %>

    </div>

  </div>

</div>