
<div id="form_wrapper" class="form_wrapper ">

      <%= form_for(:session, url: login_path, class: 'login') do |f| %>
        <div>
          <%= f.label :login, 'Username' %>
          <%= f.text_field :login, class: 'form-control' %>
        </div>
        <div>
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
          <%= f.submit 'Log in' %>
        </div>
        <div class="bottom">

          <div class="remember">
            <%= f.label :remember_me, class: 'remember checkbox inline' do %>
              <%= f.check_box :remember_me %>
              <span class="span-log">Keep me logged in </span>
            <% end %>

          </div>

          <div class="clear"></div>
        </div>
      <% end %>

</div>