<%= image_tag 'about-4.jpg', alt:'img', class:'img-responsive tm-about-box-1-img' %>
<h3 class="tm-about-box-1-title"><%= user.first_name %> <%= user.last_name %></h3>
<p class="margin-bottom-15 gray-text"><%= user.email %></p>
<p class="margin-bottom-15 gray-text">Registered on : <%= user.created_at.strftime('%m/%d/%Y') %></p>