<section class="container tm-home-section-1" id="more">
  <div class="row">
    <div class="tm-section-header">
      <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
      <div class="col-lg-6 col-md-6 col-sm-6"><h2 class="tm-section-title">Travels</h2></div>
      <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
    </div>
  </div>
  <div class="row">
    <% if @departures.any?
       @departures.each do |departure| %>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="text-center tm-tours-box-1">
            <%= link_to image_tag('tours-06.jpg', alt:'image', class:'img-responsive'), departure %>
            <%=  %>
            <div class="tm-tours-box-1-info">
              <div class="tm-tours-box-1-info-left">
                <p class="text-center text-uppercase"><%= departure.start_address.city %></p>
                <p class="text-center"><span class="glyphicon glyphicon-arrow-down"></span></p>
                <p class="text-center text-uppercase margin-bottom-20"><%= departure.end_address.city %></p>
                <% if departure.start_time %><p class="gray-text"><%= departure.start_time.strftime('%m/%d/%Y at %H:%M') %></p><% end %>
              </div>
              <div class="tm-tours-box-1-info-right">
                <p class="gray-text tours-1-description"><%= departure.passenger_capacity %> passengers</p>
                <p class="gray-text tours-1-description"><%= departure.frequency %></p>
              </div>
            </div>
            <div class="tm-tours-box-1-link">
              <div class="tm-tours-box-1-link-left">
                <%= departure.user.first_name %> <%= departure.user.last_name %>
              </div>
              <a href="#" class="tm-tours-box-1-link-right">
                <%= departure.price %>$
              </a>
            </div>
          </div>
        </div>
    <% end
       else %>
      <p>No departures found.</p>
    <% end %>
  </div>
</section>