<section class="container tm-home-section-1 section-margin-top bg-white" id="more">
  <div class="row">
    <div class="flexslider effect2 col-lg-12">
      <div class="card">
        <h2 class="slider-title">
          <%= @departure.start_address.city %> <span class="glyphicon glyphicon-arrow-right"></span> <%= @departure.end_address.city %>
        </h2>
        <% if @departure.start_time %>
            <h3 class="slider-subtitle gray-text">Pick-up time : <%= @departure.start_time.strftime('%m/%d/%Y at %H:%M') %></h3>
        <% end %>
        <h3 class="margin-bottom-15">Travel of : <%= link_to "#{@departure.user.first_name} #{@departure.user.last_name}", @departure.user %></h3>
        <div class="row">
          <div class="col-lg-6">
            <h4>Pick-up address :</h4>
            <%= render :partial => 'shared/address', :locals => {:address => @departure.start_address} %>
          </div>
          <div class="col-lg-6">
            <h4>Drop-off address :</h4>
            <%= render :partial => 'shared/address', :locals => {:address => @departure.end_address} %>
          </div>
        </div>
        <div class="section-margin-top">
          <% if @booked == true %>
               <p>You have already booked this travel.</p>
          <% else
             if @current_capacity > 0 %>
            <%= form_tag "/departures/#{@departure.id}/book", method: :post do %>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-2"><p class=""><strong><%= @current_capacity %> seats available</strong></p></div>
                  <div class="col-lg-1">
                    <%= select_tag :passengers_number, options_for_select(1..@current_capacity, params[:passengers_number]), class: 'form-control' %>
                  </div>
                  <div class="col-lg-1">
                    <%= submit_tag 'Book', class: 'btn btn-primary' %>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <p>There are no seats left.</p>
          <% end
             end %>
        </div>
      </div>
    </div>
  </div>
</section>