<div class="tm-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 tm-site-name-container">
				<a href="#" class="tm-site-name">Travel Express</a>
			</div>
			<div class="col-lg-6 col-md-8 col-sm-8">
				<div class="mobile-menu-icon">
					<i class="fa fa-bars"></i>
				</div>
				<nav class="tm-nav">
					<ul>
						<li><%= link_to 'Home', root_path %></li>
						<li><%= link_to 'About', about_path %></li>
						<li><%= link_to 'Travels', departures_path %></li>
						<li><%= link_to 'Contact', contact_path %></li>
					</ul>
				</nav>
			</div>

      <div class="col-lg-3 col-md-2 col-sm-2">
        <%= render 'sessions/logged_user_view' %>
      </div>

		</div>
	</div>	  	
</div>