<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body class="tm-gray-bg">
  <div id="modal-holder"></div>

	<div class="supreme-container">
		<%= render 'layouts/header' %>

    <%= render 'layouts/flexslider' %>

		<div id="main-container" class="container">
			<% flash.each do |message_type, message| %>
				<div class="alert alert-<%= message_type %>"><%= message %></div>
			<% end %>
			<%= yield %>
		</div>

		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
